mixin social(options = {})
  -
    const {
      color = 'none',
    } = options;

    const BASE_CLASS = 'social'

    const variantModifiers = {
      'none': '',
      'black': ` ${BASE_CLASS}_color_black`,
      'inversion': ` ${BASE_CLASS}_color_inversion`,
    }

  ul(class=`${BASE_CLASS}${variantModifiers[color]}`)
    li(class=`${BASE_CLASS}__item`)
      a(class=`${BASE_CLASS}__link` href="https://change-me" target="_blank" rel="noopener noreferrer" aria-label="facebook") Fb
    li(class=`${BASE_CLASS}__item`)
      a(class=`${BASE_CLASS}__link` href="https://change-me" target="_blank" rel="noopener noreferrer" aria-label="Lg") Lg
    li(class=`${BASE_CLASS}__item`)
      a(class=`${BASE_CLASS}__link` href="https://change-me" target="_blank" rel="noopener noreferrer" aria-label="twitter") Tw
    li(class=`${BASE_CLASS}__item`)
      a(class=`${BASE_CLASS}__link` href="https://change-me" target="_blank" rel="noopener noreferrer" aria-label="youtube") Yt
