mixin social(options = {})
  -
    const {
      color = 'white',
    } = options;

    const BASE_CLASS = 'social'

    const variantModifiers = {
      'white': ` ${BASE_CLASS}__item_color_white`,
      'black': ` ${BASE_CLASS}__item_color_black`
    }

  ul(class=BASE_CLASS)
    li(class=`${BASE_CLASS}__item${variantModifiers[color]}`)
      a(class=`${BASE_CLASS}__link` href="https://change-me" alt="facebook" target="_blank" rel="noopener noreferrer") Fb
    li(class=`${BASE_CLASS}__item${variantModifiers[color]}`)
      a(class=`${BASE_CLASS}__link` href="https://change-me" alt="Lg" target="_blank" rel="noopener noreferrer") Lg
    li(class=`${BASE_CLASS}__item${variantModifiers[color]}`)
      a(class=`${BASE_CLASS}__link` href="https://change-me" alt="twitter" target="_blank" rel="noopener noreferrer") Tw
    li(class=`${BASE_CLASS}__item${variantModifiers[color]}`)
      a(class=`${BASE_CLASS}__link` href="https://change-me" alt="youtube" target="_blank" rel="noopener noreferrer") Yt
