mixin textarea-field(options = {})
  -
    const {
      label = '',
      placeholder = '',
      name = 'text',
      value = '',
    } = options;

    const BASE_CLASS = 'textarea-field';

  div(class=`${BASE_CLASS} js-${BASE_CLASS}`)

    label(class=`${BASE_CLASS}__label`)
      if label
        =label

      textarea(class=`${BASE_CLASS}__text` placeholder=placeholder name=name)